<h1>Bienvenue !</h1>

<p>
  Bonjour <%= @user.first_name.capitalize %>
  Bienvenue sur Restor'it ! <br>
  Vous pouvez dès à présent contacter des mécanos près de chez vous. Ils pourront sûrement vous aider dans les travaux que vous entreprenez sur vos véhicules. <br>
  N'hésitez pas à enregistrer vos véhicules dans votre <%= link_to 'espace personnel', "#{ENV['app_url']}/my_account" %>. <br>
  Que vous soyez un passionné ou un professionnel, vous pouvez vous <%= link_to 'enregistrer', "#{ENV['app_url']}/mecano_signup" %> en tant que mécano afin d'aider d'autres utilisateurs dans leurs travaux mécaniques. <br>
  <br>
  Un soucis, une remarque, une idée ? N'hésitez pas à nous contacter sur <br>
  <br>
  A bientôt, <br>
  <br>
  L'équipe de Restor'it
</p>
