.cover-picture{
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 100%;
}
.profile-boxes{
  margin-top: -300px;
}
.profile-content{
  padding: 8px 20px 10px 26px;
  & p{
    margin: 0;
    color: rgb(150, 150, 150)
  }
  & h3{
    margin: 5px 0;
  }
}

.background-edit{
  z-index: 0;
  position: absolute;
  top: 70px;
  right: 10px;
}

.box-shadow .box-edit{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.recommendation-chip{
  padding: 2px 10px;
  margin: -26px 5px auto 5px;
  padding-top: 4px;
  color: white !important;
  background-color: #0C3D5E;
  border: 1px solid #0C3D5E;
  border-radius: 2px;
  cursor: pointer;
}

.recommendation-pictures-group{
  width: calc(100% - 132px);
  overflow: hidden;
  height: 30px;
  margin: -26px 5px auto 5px;
  display: block;
}
.recommendation-picture{
  height: 30px;
}
.contact-btn{
  position: absolute;
  top: 88px;
  right: 20px;
}

.contacted-banner{
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  color: white;
  background-color: #1bba75;
}

.missing-content-banner{
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  color: white;
  background-color: #ed6d5a;
}

.banner-btn{
  display: flex;
  border: 1px solid white;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  margin: 0 14px;
  font-size: 1em;
  padding: 18px 8px;
}
.banner-btn:hover{
  background-color: white;
  color: #1bba75;
}

.collection.simple-field-collection .collection-item {
  border-bottom: 3px solid #0C3D5E;
  color: #0C3D5E;
  border-left: 4px solid #0C3D5E;
  outline: 2px solid white;
  background-color: white;
}
.collection.simple-field-collection .collection-item:last-child {
  border-bottom: 1px solid #0C3D5E;
}

.collection.simple-field-collection{
  border-color: white;
}

.price-unit{
  font-size: 26px;
  margin-top: 20px;
}

.big-stars{
  text-align: center;
  & a {
    font-size: 40px;
  }
}

.collection .collection-item.avatar .circle {
  top: calc(50% - 21px);
}

.collection .collection-item.load-message{
  background-color: #CBCBCB;
  color: white;
  text-align: center;
  cursor: pointer;
}
