.filters-group{
  display: flex;
  align-items: center;
  & p{
    margin: 0;
    color: rgb(150, 150, 150);
    font-size: 0.8rem;
  }
}

#domain-list{
    width: 90%;
    height: 19px;
    text-align: justify;
    text-overflow: ellipsis;
    line-height: 19px;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}

#search-data-recap > div {
  width: calc(75% - 80px)
}

.no-mecano-results{
  background-color: rgb(240, 240, 240);
  color: rgb(100,100,100);
  position: relative;
  & .left-arrow{
    position: absolute;
    top: 20px;
    left: 5px;
    color: #0C3D5E;
    & i{
      transform: rotate(-90deg);
      font-size: 40px;
    }
  }
  & .right-arrow{
    position: absolute;
    top: 20px;
    right: 5px;
    color: #0C3D5E;
    & i{
      transform: rotate(90deg);
      font-size: 40px;
    }
    height: 100%;
    text-align: right;
  }
}

@media only screen and (min-width: 600px) and (max-width : 992px) {
  #search-data-recap{
    width: 65%
  }
}
