.red-text {
  color: #f44336;
}

.green-text {
  color: #4caf50;
}

.primary-text {
  color: #328BC3;
}

.secondary-text {
  color: #0C3D5E;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(230,230,230);
    margin: 1em 0;
    padding: 0;
}
