.space-between{
  display: flex;
  justify-content: space-between;
}

.space-around{
  display: flex;
  justify-content: space-around;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.window-height{
  height: 100vh;
}

.margin-top-50{
  margin-top: 50px;
}
