.box-shadow{
  -moz-box-shadow: 0px 1px 4px 0px #cfcfcf;
  -webkit-box-shadow: 0px 1px 4px 0px #cfcfcf;
  -o-box-shadow: 0px 1px 4px 0px #cfcfcf;
  box-shadow: 0px 1px 4px 0px #cfcfcf;
  background-color: white
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.space-around{
  display: flex;
  justify-content: space-around;
}

.justify-center{
  display: flex;
  justify-content: center;
}

.marged-20{
  margin: 20px
}

.padded-20{
  padding: 20px
}

.window-height{
  height: 100vh;
}

.margin-top-50{
  margin-top: 50px;
}
