body{
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Patua One';
}

.text-center{
  text-align: center;
}

.capitalize{
  text-transform: capitalize;
}

.bold-grey{
  font-weight: bold;
  color: rgb(160, 160, 160)
}

.align-right{
  text-align: right;
}
