@media only screen and (min-width: 0px) and (max-width: 600px){
  html, p, body { font-size: 13px; }
}
@media only screen and (min-width: 601px) and (max-width: 992px){
  html, p, body { font-size: 14.5px; }
}
@media only screen and (min-width: 993px){
  html, p, body { font-size: 16px; }
}
