.btn-small {
    height: 28px;
    font-size: 11px;
    padding: 3px 8px;
}

.btn{
  border: 1px solid #008bc6;
  background-color: #008bc6;
  color: white;
  padding-right: 18px;
  font-size: 0.9em;
  line-height: 154%;
}

.recommend-btn{
  padding: 2px 10px;
  margin: -26px 5px auto 5px;
  padding-top: 4px;
  color: white !important;
  border-radius: 2px;
  cursor: pointer;
  width: 40px;
  z-index: 2;
  text-align: center;
}

.red-btn{
  border: 1px solid #ed6d5a;
  background-color: #ed6d5a;
}

.green-btn{
  border: 1px solid #1bba75;
  background-color: #1bba75;
}


.btn:hover, .btn:focus{
  background-color: rgb(255,255,255);
  color: #008bc6 !important;
}

.btn-floating i{
  color: inherit;
}

// RADIO BUTTONS
.radioinput:not(:checked) + label, .radioinput:checked + label{
  padding: 10px 16px 10px 41px;
  border-radius: 3px;
  margin: 0 5px;
  line-height: 19px;
  height: auto;
}

.radioinput + label:before, .radioinput + label:after{
  left: 15px;
  top: 8px;
}

.radioinput:not(:checked) + label, .radioinput:checked + label{
  color: white;
}

.radioinput:not(:checked) + label{
  background-color: #0C3D5E;

}

.radioinput:not(:checked) + label:before, .radioinput:not(:checked) + label:after{
  border-color: white;
  background-color: white;
}

.radioinput:checked + label{
  background-color: #008bc6;
}

.radioinput:checked + label:before, .radioinput:checked + label:after{
  border-color: white;
  background-color: #008bc6;
}
