.btn-small {
    height: 28px;
    line-height: 24px;
    font-size: 11px;
    padding: 3px 8px;
}

.btn{
  border: 1px solid #328BC3;
  background-color: #328BC3;
  color: white;
  padding-right: 18px;
}
.btn:hover, .btn:focus{
  background-color: rgb(255,255,255);
  color: #328BC3;
}

.btn-floating i{
  color: inherit;
}

// RADIO BUTTONS
.radioinput:not(:checked) + label, .radioinput:checked + label{
  padding: 10px 16px 30px 41px;
  border-radius: 3px;
  margin: 0 5px;
  line-height: 20px;
}

.radioinput + label:before, .radioinput + label:after{
  left: 15px;
  top: 8px;
}

.radioinput:not(:checked) + label, .radioinput:checked + label{
  color: white;
}

.radioinput:not(:checked) + label{
  background-color: #0C3D5E;

}

.radioinput:not(:checked) + label:before, .radioinput:not(:checked) + label:after{
  border-color: white;
  background-color: white;
}

.radioinput:checked + label{
  background-color: #328BC3;
}

.radioinput:checked + label:before, .radioinput:checked + label:after{
  border-color: white;
  background-color: #328BC3;
}
