.frozen-field i{
  color: #008bc6;
  cursor: pointer;
  margin-top: 9px;
}

.edit-field i{
  color: #4caf50;
  cursor: pointer;
  margin-top: 9px;
}
.edit-field i:last-child{
  color: #f44336;
  margin-top: 9px;
}
