.frozen-field i{
  color: #008bc6;
  cursor: pointer;
  margin-top: 9px;
}

.edit-field i{
  color: #1bba75;
  cursor: pointer;
  margin-top: 9px;
}
.edit-field i:last-child{
  color: #ed6d5a;
  margin-top: 9px;
}
