.mecano-card{
  transition: border-color 0.3s ease;
  transition: background-color 0.3s ease;
  border: 0.5px solid rgb(230,230,230);
  cursor: pointer;
  padding: 10px 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: white;
  & .card-content{
    padding-left: 5%;
    width: 100%;
  }
  & p{
    margin: 6px 0
  }
  & .card-title-container {
    height: 60px;
    display: flex;
    align-items: center;
  }
  & h4 {
    line-height: 95%;
    margin-top: 12px;
    margin-bottom: 10px;
  }
}

.distance-chip{
  background-color: #008bc6;
  padding: 2px 5px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8rem;
}

.mecano-card:hover{
  // -moz-box-shadow: 2px 3px 4px 0px #c7c7c7;;
  // -webkit-box-shadow: 2px 3px 4px 0px #c7c7c7;;
  // -o-box-shadow: 2px 3px 4px 0px #c7c7c7;;
  // box-shadow: 2px 3px 4px 0px #c7c7c7;;
  background-color: rgb(246,247,250);
  // border-color: #008bc6;
}
.rating-number{
  color: #969696;
  font-size: 0.8rem;
}
