.transparent-navbar{
  z-index: 10
}

.dropdown-background{
  background-image: url("/atelier.png");
  background-size: cover;
}

.large-navbar{
  & a{
    color: #0C3D5E;
    display: block;
    height: 56px;
    text-align: center;
    padding: 12px 20px;
    cursor: pointer;
    & i{
      margin: auto;
    }
    & p{
      font-weight: bold;
      width: 94px;
      margin: -5px 0 0 0;
      font-size: 11px
    }
  }
  & a:hover{
    background-color: rgba(0, 0, 0, 0.05);
    color: #008bc6;
  }
  & .white-shadowed-text:hover{
    background-color: rgba(12, 61, 94, 0.6);
    color: #008bc6;
  }
}
.button-collapse{
  & .material-icons{
    font-size: 30px;
    margin: 12px 0 14px 3%;
    color: black;
    cursor: pointer;
  }
}

#slide-out{
  text-align: left;
}
.sidenav-background{
  width: 100%;
  position : relative;
  background-image: url("/atelier.png");
  background-size: cover;
}
.side-nav .userView .name, .side-nav .userView .email{
  padding: 0;
  margin: 0;
}

.side-nav .divider {
    margin: 0;
}

.side-nav li > a {
  padding: 10px 24px;
  height: 70px;
}

.userView .material-icons{
  color: #008bc6;
  font-size: 40px;
}

.userView table{
  margin-left: 20px;
  font-size: 14px;
}

.userView .white-text{
  text-shadow: 1px 1px 3px #565454
}

.side-nav .userView {
  padding: 20px 16px 6px 16px;
}

.userView td:first-child{
  padding: 0;
  width: 1.8%;
  line-height:24px;
}

#dropdown-connected, #dropdown-not-connected{
  top: 57px !important;
  width: 300px !important;
  right: 0 !important;
  border: 1px solid white ;
}

.userView .material-icons{
  margin-top: 10px;
}

.userView td{
  padding: 0px 23px;
  line-height: 30px;
}

.profile-btn-group{
  margin-top: 10px;
  .btn{
    width: 86%;
    margin: 0 7%
  }
}


@media only screen and (max-width: 992px){
  .side-nav a {
    padding: 10px 0;
    height: 70px
  }
}
