.select-wrapper span.caret {
  color: #328BC3 !important;
  padding: 18px 16px 22px 22px;
}

.select-wrapper input.select-dropdown {
  // background-color: rgba(12, 61, 94, 0.8);
  border-bottom: 2px solid #328BC3;
}
